
body {
    background-color: #c5e5f0;
    font-family: sans-serif;
    margin: 20px;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
    text-align: center;

    background-image: url('../img/id4d_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


input[type="file"] {
    border: #000000 3px solid;
    border-bottom: 3px solid #000000;
    outline: none;
    height: 50px;
    color: #ffffff;
    font-size: 25px;
    border-radius: 15px;
}

input[type="file"]:hover {
    cursor: pointer;
    background: #ffffff;
    color: #000000;
}

h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: #000000 10px 20px 35px;
}

button {
    border: #79817d 3px solid;
    border-bottom: 5px solid #1f1717;
    outline: none;
    width: 40%;
    margin: 1%;
    color: #189c23;
    font-size: 25px;
    border-radius: 15px;
}

button:hover,
input[type="file"]:hover {
  background-color: #e0e0e0;
}


/*ANIMACIONES DE LA PAG*/
.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }